{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>All Students</title>
    <link rel="stylesheet" href=" {% static 'CSS/Active.css' %}">
      <link rel="icon" type="image/x-icon" href="../static/pic/fcair-logo.png">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="{% static 'JavaS/active.js' %}" defer></script>
  </head>
  <body>
    <div class="flexBox" id="flexBox">
      <a href="{% url 'index2' %}" class="home">
        <img src="../static/pic/logo.png">
        <h1> Student Affairs</h1>
      </a>
     <nav class="Links">
         <a href="{% url 'addStudent' %}">Add Student</a>
        <a href="{% url 'edit_page_view' %}">Update</a>
        <a href="{% url 'ActiveStudents' %}">Active Students</a>
      <a href="{% url 'assign-department' %}">Assign Department</a>
      <a href="{% url 'search-students' %}">Search</a>
      <a href="{% url 'logout' %}">LogOut</a>
    </nav>
    </div>
    <div class="st">
      <section id="student">
        <div class="Table-header">
{#            <form method="post">#}
{#            {% csrf_token %}#}
          <table cellpadding="0" cellspacing="0" >
            <thead>
              <tr>
                <th>student id</th>
                <th>name</th>
                <th>level</th>
                <th>department</th>
                <th>Active / Inactive</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="Table-content">
          <table cellpadding="0" cellspacing="0">
            <tbody >
              {% for student in students %}
                  <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.level }}</td>
                    <td>{{ student.department }}</td>
                    <td>
                    <label class="switch">
                    <input type="checkbox" onchange="updateStatus(this, '{{ student.student_id }}')" {% if student.status != 'Inactive' %}checked{% endif %}>
                    <span class="slider"></span>
                  </label>
                    </td>
                  </tr>
{#                {% endif %}#}
              {% endfor %}
            </tbody>
          </table>
{#        </form>#}
        </div>
      </section>
      </div>
    <footer><p>&copy; 2023 Student Affairs, FCAI</p></footer>
  </body>
</html>