{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forget Pass</title>
  <link rel="stylesheet" href="{% static 'CSS/Forgot.CSS' %}">
          <link rel="icon" type="image/x-icon" href="../static/pic/fcair-logo.png">
  
</head>
<body> 
  <div class="flexBox" id="flexBox">
    <img src="../static/pic/logo.png">
    <h1> Student Affairs</h1>
    <nav class="Links">
      <a href="{% url 'index' %}">Home</a>
    
    
  </nav>    
  </div>
  <div class ="All">  
    <div class="TEXT">
    <div>
    <p>Forgot Password</p>

      <form  method="post">
          {% csrf_token %}
            <input type="email" name="email" id="id" placeholder="Enter Your Email" required />
            <br /><br />
        <input type="submit" class="Submitbtn" value="Reset Password" />
      </form>
         {% for massege in messages %}
            <p class="massg"
            >{{ massege }}</p>
            {% endfor %}
  
  </div>  
</div>
</div>
<footer><p>&copy; 2023 Student Affairs, FCAI</p></footer>
</body>
</html>